<div class="row justify-content-center pt-5">
    <div class="col-8 border-bottom border-danger h2">
        <div class="abbDash"></div>
        <p>Search Results for:   "<%= searchWord %>"</p>
    </div>
</div>

<!-- <div class="row justify-content-center py-3">
    <div class="col-8 h3">
        Search Results For: <%= searchWord %>
    </div>
</div> -->

<!-- results table -->
<div class="row justify-content-center pt-4">
    <div class="col-7">
        <table class="table table-striped">
            <thead class=" h4 abbDivideDark">
                <th scope="col">Part Number</th>
                <th scope="col">Description</th>
            </thead>
        
            <tbody>
                <% docs.forEach(function(doc){ %>
                    <form action="/results" method="POST">
                        <input type="hidden" name = "id" value = "<%=doc.id %>">
                        <tr class="border">
                                <td><button type="submit" class="btn partNumberItem"><%= doc.model_number.toUpperCase() %></button></td>
                                <td><%= doc.description %></td>
                        </tr>
                    </form>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

